permissions:
  contents: read
  packages: write

name: Telemetry Generator App
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5 # Sets up a Python environment
        with:
          python-version: '3.x' # Specify the Python version you want to use (e.g., '3.9', '3.10', '3.11')

      - name: Install dependencies (optional)
        run: pip install -r requirements.txt # Installs packages listed in requirements.txt
        
      - name: Update image tag in Helm chart
        run: |
          sed -i "s/^  tag: .*/  tag: \"${{ github.sha }}\"/" charts/values.yaml

      - name: Commit updated tag
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git commit -am "Update image tag to ${{ github.sha }}"


  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: pseudo test
      run: ls

  push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          #context: ./cpp-streamer             # directory containing source and Dockerfile
          #file: ./cpp-streamer/Dockerfile
          platforms: linux/amd64,linux/arm64  
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/telemetry-generator:latest
          no-cache: true
